<html>
  <body>

    Web Socket Test<p></p>
    <textarea name='message' [(ngModel)]='message' rows="10" cols="60"></textarea>
    <p></p>
    
    <button (click)="wsConnect()">Connect</button>
    <button (click)="wsDisconnect()">Disconnect</button>
    <button (click)="send()">Send</button><br><p></p>
    

    <textarea *ngIf="response$ | async as response; else noResponse"
      name='response'  rows="10" cols="60">
      {{response}}
    </textarea>
		<ng-template #noResponse>
      <textarea name='response'  rows="10" cols="60">{{response}}</textarea>
    </ng-template>
  </body>
</html>